@model EAD_Project.Models.Order
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="alert alert-success">
    <a href="#" class="alert-link"><h1>Order</h1></a>
</div>
 <form method="post" action="/Order/Place" enctype="multipart/form-data">
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
    <table align="center" width="200" height="30">
        <tr>
            <td width="100" height="30">
                <label title="cname">Customer Name:       </label>
            </td>
            <td width="100" height="30">
                @*<input type="text" name="Cname" />*@
                @Html.TextBoxFor(x => x.Cname)
                @Html.ValidationMessageFor(x => x.Cname)
            </td>
        </tr>
         <tr>
            <td width="100" height="30">
                <label title="pname">Product Name:       </label>
            </td>
            <td width="100" height="30">
                @*<input type="text" name="Prodname" />*@
                @Html.TextBoxFor(x => x.ProdName)
                @Html.ValidationMessageFor(x => x.ProdName)
            </td>
        </tr>
        <tr>
            <td width="100" height="30">
                <label title="size">Size:       </label>
            </td>
            <td width="100" height="30">
                @*<input type="text" name="Size" />*@
                @Html.TextBoxFor(x => x.Size)
                @Html.ValidationMessageFor(x => x.Size)
            </td>
        </tr>
        <tr>
            <td width="100" height="30">
                <label title="quantity">Quantity:       </label>
            </td>
            <td width="100" height="30">
                @*<input type="text" name="Quantity" />*@
                @Html.TextBoxFor(x => x.Quantity)
                @Html.ValidationMessageFor(x => x.Quantity)
            </td>
        </tr>
        <tr>
            <td width="100" height="30">
                <label title="date">Required till:       </label>
            </td>
            <td width="100" height="30">
                @*<input type="date" name="DueDate" />*@
                @Html.TextBoxFor(x => x.DueDate)
                @Html.ValidationMessageFor(x => x.DueDate)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="file" name="Image" />
                <br />
            </td>
            <td>
                              
            </td>

        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="place" value="Place Order" />
                <br />
            </td>
        </tr>
    </table>
  </form>
